<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% comment %} <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQgS4G6kC8Omo7yF4jI/R+eB15F6pT5M8W6A7R+4K3O7fF4z+x3A3" crossorigin="anonymous"></script> {% endcomment %}
</head>
<body class="flex flex-col min-h-screen bg-gray-500">
    {% include "includes/header.html" %}

    {% if messages %}
        {% for message in messages %}
            {% if message %}
                <div class="text-sm rounded p-3 mb-2
                    {% if message.tags == 'error' %}
                        bg-red-100 text-red-800
                    {% elif message.tags == 'success' %}
                        bg-green-400 text-green-800
                    {% else %}
                        bg-blue-400 text-blue-800
                    {% endif %}
                ">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <main class="flex-grow">
        {% block content %}
        {% endblock content %}
    </main>

    {% include "includes/footer.html" %}
</body>
</html>
